nav {
  background-color: white;
  width: 100vw; 
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav a {
  text-align: center;
  padding: 8px 16px;
  width: fit-content;
  text-decoration: none;
  color: var(--text-color);
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  font-size: 20px;
}

nav a:hover {
  background-color: var(--gray-light);
}