.explorer-page {
  padding: 0px 90px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

}

.explorer-page .search-bar {
  height: 50px;
  width: 100%;
  background-color: var(--gray-light);
  margin: 30px 0px;
  font-size: 20px;
}

.explorer-page form {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  gap: 4px;
  margin-bottom: 20px;
  width: 50vw;
}

.explorer-page h1 {
  width: 550px;
  font-size: 50px;
  text-align: center;
  line-height: 1;
}

.explorer-page h3 {
  border-bottom: 1px solid black;
}

.explorer-page .img-container {
  width: 200px;
  height: 200px;
}

.explorer-page .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-container {
  padding: 30px;
  margin-top: 50px;
  border-radius: 16px;
  background-color: var(--gray-light);
  width: 100%;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.card-container .card {
  max-height: 300px;
}